<!-- list all images here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stray Animal Welfare</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <img src="./images/stray-animal-welfare-high-resolution-logo (3).png" class="logo">
        <p class="title cormorant-infant-bold">Stray Animal Welfare</p>
        <div class="hyperlink">
            <a href="index.html">Home </a>
            <a href="about.html">About </a>
            <a href="#contact">Contact us </a>
        </div>
        
    </div>
    <div class="main">
        <div class="ngopage pro">
            <p style=" -webkit-text-stroke: .5px white;color: black; font-size: 4rem;"><%=result.user%></p>
            <h2 style="color: black; font-size: 2rem; ">Active Request</h2>
            <div class="listing">
                <% for(it of result){%>
                <div class="cart">
                    <img class="imglist" src="<%=it.image%>" alt="">
                    <br>
                    <p class="reqinfo cormorant-infant-bold"><%=it.req%></p>
                    <p class="reqinfo cormorant-infant-bold"><%=it.location%></p>
                    <p class="reqinfo cormorant-infant-bold"><%=it.phone%></p>
                    <form action="/deletecart?name=<%=it.user%>" method="post">
                        <input type="hidden" name="link" value="<%= it.image %>">
                        <button>Resolved</button>
                    </form>
                </div>
                <% } %>
            </div>
            
        </div>
    </div>
    <div class="contact" id="contact">
        <p>Email: strayanimalwelfare@gmail.com</p>
      <p>Contact us: 91526#####, 98767#####</p>
      <p>Currently Service available in Trichy, Vellor, Madurai, Pudukkottai, Chennai.</p>
    </div>
</body>
</html>